+++
title = "Buscar funcionario"
bookHidden = true
+++
<h1>Buscar funcionario</h1>

<p>Busca entre los cientos de funcionarios que tiene la universidad. Puedes encontrar nombres completos, lugar de trabajo, correo electrónico y teléfono.</p>

<style>
	#results strong, #results span {
		display: block;
	}

	#results li {
		margin-bottom: 1em;
	}
	
	#form input {
		display: block;
		width: 100%;
		max-width: 640px;
		margin: 0 0 1em;
		padding: 0.2em 0.1em;
	}
</style>

<form id="form">
	<input autofocus id="input" type="text">
	<button id="submit" type="button">Buscar</button>
</form>

<p id="status">Cargando...</p>
<ul id="results"></ul>

<noscript><p>Javascript tiene que estar activado!</p></noscript>
<p>Última actualización: abril 2020</p>

<script src="/js/fuse-v5.2.1.js"></script>
<script src="/js/buscar.js"></script>
<script src="/js/data-funcionarios.js"></script>
