+++
title = "test"
+++
<h1>que bonito el fondo eh</h1>
<style> h1 { background: linear-gradient(to right, #24c6dc, #514a9d); padding: 3em 0; } </style>
<marquee>esto es una prueba</marquee>

<p><button id="e">apretame</button> para ver un fondo bonito (pero ten cuidado si tienes epilepsia)</p>

<script>
	document.getElementById('e').addEventListener('click', function(event) {
		document.body.id = 'e';
	});
</script>
<style>
	button#e {
		cursor: pointer;
	}

	body#e {
		background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
		background-size: 1800% 1800%;
		animation: rainbow 3s ease infinite;
	}

	@keyframes rainbow {
		0% {background-position:0% 82%}
		50% {background-position:100% 19%}
		100% {background-position:0% 82%}
	}

</style>